@import "./shared.css";
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/backToTopBtn.css";
@import "./components/backBtn.css";
@import "./components/flashMessage.css";
@import "./components/loadingScreen.css";
@import "./components/supportModel.css";
@import "./components/supportModelOpenBtn.css";