@import "./shared.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/backToTopBtn.css";
@import "./components/backBtn.css";
@import "./components/flashMessage.css";
@import "./components/loadingScreen.css";
@import "./components/supportModel.css";
@import "./components/supportModelOpenBtn.css";

@font-face {
    font-family: 'Cairo';
    src:
        url('../fonts/cairo/Cairo-Regular.woff2') format('woff2'),
        url('../fonts/cairo/Cairo-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cairo';
    src:
        url('../fonts/cairo/Cairo-Bold.woff2') format('woff2'),
        url('../fonts/cairo/Cairo-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}