:root {
    --primary: #3498db; /* Blue */
    --primary-dark: #2980b9; /* Darker Blue */
    --secondary: #2c3e50; /* Dark Blue */
    --success: #27ae60; /* Green */
    --danger: #e74c3c; /* Red */
    --warning: #f39c12; /* Orange */
    --light: #ecf0f1; /* Light Gray */
    --dark: #2c3e50; /* Dark Gray */
    --gray: #7f8c8d; /* Gray */
    --bg-light: #cbe5ff; /* Light Background */
    --bg-dark: linear-gradient(
        135deg,
        #0f1a25 0%,
        #1a2b3a 100%
    ); /* Dark Background */
    --progress-bar-bg: #1f5d85ff; /* Progress Bar Background */
    --text-light: #333; /* Light Text */
    --text-dark: #eee; /* Dark Text */
    --card-light: rgba(255, 255, 255, 0.8); /* Light Card Background */
    --card-dark: rgba(30, 30, 30, 0.8); /* Dark Card Background */
    --transition: all 0.3s ease; /* Transition Effect */
    --border-radius: 10px; /* Border Radius */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent; /* Chrome, Safari, iOS */
    outline: none; /* Firefox و متصفحات أخرى */
}

body {
    font-family: "Cairo", sans-serif;
    min-height: 100vh;
    line-height: 1.6;
    background: var(--bg-light);
    color: var(--text-light);
    transition: var(--transition);
}

body.dark-mode {
    background: var(--bg-dark);
    color: var(--text-dark);
}

/* stylelint-disable selector-max-id */
::selection {
    background-color: rgba(52, 152, 219, 0.3); /* لون أزرق Primary شفاف */
    color: var(--secondary); /* لون النص يظل غامقاً للوضوح */
}

/* في حالة الوضع الليلي (Dark Mode) */
body.dark-mode ::selection {
    background-color: var(--primary); /* أزرق كامل */
    color: #ffffff; /* نص أبيض تماماً */
}

/* للمتصفحات التي تستخدم محرك Gecko مثل Firefox */
::-moz-selection {
    background-color: rgba(52, 152, 219, 0.3);
    color: var(--secondary);
}

body.dark-mode ::-moz-selection {
    background-color: var(--primary);
    color: #ffffff;
}