.back-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 10px;

    margin-top: 25px;
    margin-bottom: 20px;

    padding: 10px 16px;
    border-radius: 10px;

    color: var(--primary);
    font-weight: 600;
    text-decoration: none;

    background: rgba(0, 0, 0, 0.04);
    transition: background 0.3s ease;
}

/* الأيقونة */
.back-btn i {
    color: var(--primary);
    transition:
        transform 0.35s ease,
        color 0.35s ease;
}

/* النص فقط */
.back-text {
    background-image: linear-gradient(
        90deg,
        var(--primary),
        var(--success),
        var(--warning)
    );
    background-size: 200% 100%;
    background-position: 100% 50%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    transition: background-position 0.4s ease;
}

/* Hover */
.back-btn:hover .back-text {
    background-position: 0% 50%;
}

.back-btn:hover i {
    transform: translateX(5px);
    color: var(--primary-dark);
}
